@model List<Project>
<!-- Projects Section -->
<section id="projects">
    <div class="container">
        <h2 class="section-title">My Projects</h2>
        <div class="row g-4">
            @foreach (var project in Model)
            {
                
                <div class="col-md-6 col-lg-4">
                    <div class="card shadow project-card">

                        <a href="@project.link.Url">
                            <img src="~/images/@project.ImageUrl"
                                 class="card-img-top project-img" alt="@project.Title">
                        </a>
                        <div class="card-body">
                            <h3 class="card-title fw-semibold">@project.Title </h3>
                            <p class="card-text text-muted mb-3">
                                @project.Description
                            </p>
                            <div>
                                @foreach (var tag in project.technologies)
                                {
                                    <span class="tag">@tag.Name</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</section>